.lutris-logview > text {
  color: rgb(255, 199, 116);
  background-color: rgb(47, 47, 47);
}

.lutris-logview > text > selection {
  color: rgb(47, 47, 47);
  background-color: rgb(255, 199, 116);
}

.sidebar {
  background: transparent;
  border: 0;
}

.sidebar button {
  padding: 0;
  border: 0;
}

.sidebar button > image {
  padding: 0;
  border: 0;
}

.sidebar-header {
  background: transparent;
}

.sidebar-row {
  background: transparent
}

.grid, .list {
  background-image: image(rgba(0, 0, 0, 0.2))
}

.game-details {
  /*background-image: image(rgba(0, 0, 0, 0.5))*/
}

.grid *, .list * {
  background-image: image(rgba(0, 0, 0, 0.0))
}

.grid button, .list button {
  background: transparent;
}

.panel-button label {
    font-weight: normal;
}

row:selected {

}
row:hover {
  background: rgba(0, 0, 0, 0.1);
}
row:selected, row:selected button label, row:selected label {
  color: inherit;
}
